.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore
compile.R
data.R
ecological_memory_functions.R
.Rd2pdf30866
.Rd2pdf22818
virtualPollen.Rproj
tutorial.R
test.R
rstudio-trace.Rprof
refs.Rmd
pkg-refs.bib
github_key.pub
github_key
ecological_memory_functions.R
data.R
.Rhistory
.Rbuildignore
compile.R
.Rproj.user
.Rd2pdf30866
.Rd2pdf22818
.Rproj.user
